<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수입/지출 작성</title>
</head>
<body>
    <div class="ledger-form">
        <h2>가계부 입력</h2>

        <form action="/ledger/save" method="post">

        <div class="form-group">
            <label>구분</label>
            <div>
                <label>
                    <input type="radio" name="type" value="INCOME" required>
                    수입
                </label>

                <label>
                    <input type="radio" name="type" value="EXPENSE" required>
                    지출
                </label>
            </div>
        </div>


        <div class="form-group">
            <label for="category">카테고리</label>
            <input
                    type="text"
                    id="category"
                    name="category"
                    placeholder="식비, 교통비, 월급 등">
        </div>


        <div class="form-group">
            <label for="amount">금액</label>
            <input
                    type="number"
                    id="amount"
                    name="amount"
                    placeholder="금액 입력">
        </div>


        <div class="form-group">
            <label for="memo">메모</label>
            <input
                    type="text"
                    id="memo"
                    name="memo"
                    maxlength="200"
                    placeholder="메모 입력">
        </div>


        <div class="form-group">
            <label for="recordDate">날짜</label>
            <input
                    type="date"
                    id="recordDate"
                    name="recordDate">
        </div>


        <div class="form-group">
            <button type="submit">
                저장
            </button>
        </div>
        </form>
    </div>
</body>
</html>